@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900");

html, body {
  height: 100%;
}

body {
  font-family: "Arial Bold", Arial;
  color: #000000;
  font-weight: 400;
  margin: 0px;
  background-image: url("img/background.png");
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #000080;
  font-weight: 900;
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: "Arial Bold", Arial;
  color: #000080;  
  font-weight: 700;
  margin: 0px;
  font-size: 1em;
  letter-spacing: normal;
  padding: 20px;
  text-align: center;
}